/* Inter, latin subset — © The Inter Project Authors, SIL Open Font License 1.1 (fonts/OFL.txt).
   Vendored so the clip renders identically on any machine, with no network call at capture time. */
@font-face{font-family:Inter;font-style:normal;font-weight:100 900;font-display:block;src:url(fonts/Inter.woff2) format("woff2");}
